<nav class="fixed top-0 left-0 w-full z-10 shadow-sm">
  <div class="mt-1 mr-1">
    <div class="flex justify-between items-center h-10">
      <img class="ml-2 size-9 mb-1" src="../../assets/images/logo.png" alt="" />
      <span class="font-medium font-pacifico ml-2 text-[#353839] items-center"
        >Blabber</span
      >
      <div class="ml-4 mr-4 flex flex-row space-x-6 w-[100%]">
        <li
          class="list-none text-[#353839] rounded-lg p-1 items-center font-medium hover:text-[#c4c4c4] hover:scale-125"
        >
          <a class="nav-link" href="#">Home</a>
        </li>
        <li
          class="list-none text-[#353839] rounded-lg p-1 items-center font-medium hover:text-[#c4c4c4] hover:scale-125"
        >
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li
          class="list-none text-[#353839] rounded-lg p-1 items-center font-medium hover:text-[#c4c4c4] hover:scale-125"
        >
          <a class="nav-link cursor-pointer" href="#">Articles</a>
        </li>

        <li
          class="list-none text-[#353839] rounded-lg p-1 items-center font-medium hover:text-[#c4c4c4] hover:scale-125"
        >
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </div>
      <button
        type="button"
        class="text-white bg-[#353839] font-medium rounded-lg px-3 py-1 text-center mb-1"
        routerLink="/sign-in"
        routerLinkActive="active"
        (click)="toggleLoginModal()"
      >
        Login|SignUp
      </button>
    </div>
  </div>
  <hr class="mt-0 mb-0 border-gray-700" />
</nav>

<!-- Add login form to form group and get value -->

<!-- Login Modal -->
<div
  *ngIf="loginToggle === true"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="flex flex-row justify-between bg-[#353839]">
          <img
            class="m-1 size-11 rounded-full"
            src="../../assets/images/login1.png"
            alt=""
          />

          <span
            class="mt-1 mb-1 mr-3 rounded-lg text-white flex flex-col justify-center text-center font-bold h-10 text-xl"
            >Login</span
          >
        </div>
        <div class="m-1">
          <div class="text-center">
            <form
              [formGroup]="loginForm"
              (ngSubmit)="onsubmit(loginForm)"
              class="space-y-6"
              action="#"
              method="POST"
            >
              <div class="flex flex-row">
                <label for="email" class="m-2 font-semibolds text-xl"
                  >Email</label
                >
                <div class="m-2 w-full">
                  <input
                    formControlName="email"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="Email Address"
                    autocomplete="email"
                    required
                    class="rounded-lg w-[100%] border-2 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="flex flex-row">
                <label for="email" class="m-2 font-semibolds text-xl"
                  >Password</label
                >
                <div class="m-2 w-full">
                  <input
                    formControlName="password"
                    id="Password"
                    name="Password"
                    type="password"
                    placeholder="Password"
                    autocomplete=""
                    required
                    class="rounded-lg w-[100%] border-2 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="m-2 text-sm flex justify-end">
                <a
                  href="#"
                  class="font-semibold mr-2 text-[#353839] hover:text-black"
                  >Forgot password?</a
                >
              </div>

              <div>
                <div class="">
                  <button
                    (click)="(loginForm.submit)"
                    type="submit"
                    class="justify-center rounded-lg bg-[#353839] w-[30%] px-3 py-1.5 text-lg font-semibold leading-6 text-white shadow-lg hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >
                    Log In
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="m-2 flex flex-row">
          <div class="w-full grid grid-cols-2">
            <div>
              <button
                (click)="loginToggle = false"
                type="button"
                class="inline-flex justify-center rounded-lg bg-red-600 pl-3 pr-3 pt-1 pb-1 text-sm font-semibold text-white shadow-lg hover:bg-red-500"
              >
                Cancel
              </button>
            </div>

            <div class="flex flex-row justify-end">
              <span class="flex flex-col items-center justify-center"
                >Don't have an account ?
              </span>
              <button
                (click)="signupToggle = true"
                type="button"
                class="inline-flex justify-center ml-2 pl-3 pr-3 pt-1 pb-1 rounded-lg bg-green-600 text-sm font-semibold text-white shadow-lg hover:bg-green-500"
              >
                SignUp
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SignUp Modal -->
<div
  *ngIf="signupToggle === true"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="flex flex-row justify-between bg-[#353839]">
          <img
            class="m-1 size-11 rounded-full"
            src="../../assets/images/login1.png"
            alt=""
          />

          <span
            class="mt-1 mb-1 mr-3 rounded-lg text-white flex flex-col justify-center text-center font-bold h-10 text-xl"
            >Sign Up</span
          >
        </div>
        <div class="m-1">
          <div class="text-center">
            <form
              [formGroup]="signupForm"
              (ngSubmit)="onsubmit(signupForm)"
              class="space-y-6"
              action="#"
              method="POST"
            >
              <div class="flex flex-row">
                <label for="name" class="m-2 font-semibolds text-xl"
                  >Name</label
                >
                <div class="m-2 w-full">
                  <input
                    formControlName="name"
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Name"
                    required
                    class="rounded-lg w-[100%] border-2 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="flex flex-row">
                <label for="email" class="m-2 font-semibolds text-xl"
                  >Email</label
                >
                <div class="m-2 w-full">
                  <input
                    formControlName="email"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="Email Address"
                    autocomplete="email"
                    required
                    class="rounded-lg w-[100%] border-2 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="flex flex-row">
                <label for="email" class="m-2 font-semibolds text-xl"
                  >Password</label
                >
                <div class="m-2 w-full">
                  <input
                    formControlName="password"
                    id="Password"
                    name="Password"
                    type="password"
                    placeholder="Password"
                    autocomplete=""
                    required
                    class="rounded-lg w-[100%] border-2 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="flex flex-row">
                <!-- <label for="email" class="m-2 font-semibolds text-xl"
                  >Confirm Password</label
                > -->
                <div class="m-2 w-full">
                  <input
                    formControlName="confirmPassword"
                    id="ConfirmPassword"
                    name="Confirm Password"
                    type="password"
                    placeholder="Confirm Password"
                    autocomplete=""
                    required
                    class="rounded-lg w-[100%] border-2 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="m-2 text-sm flex justify-end">
                <a
                  href="#"
                  class="font-semibold mr-2 text-[#353839] hover:text-black"
                  >Forgot password?</a
                >
              </div>

              <div>
                <div class="">
                  <button
                    (click)="(signupForm.submit)"
                    type="submit"
                    class="justify-center rounded-lg bg-[#353839] w-[30%] px-3 py-1.5 text-lg font-semibold leading-6 text-white shadow-lg hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >
                    Sign Up
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="m-2 flex flex-row">
          <div class="w-full grid grid-cols-2">
            <div>
              <button
                (click)="signupToggle = false; loginToggle = false"
                type="button"
                class="inline-flex justify-center rounded-lg bg-red-600 pl-3 pr-3 pt-1 pb-1 text-sm font-semibold text-white shadow-lg hover:bg-red-500"
              >
                Cancel
              </button>
            </div>

            <div class="flex flex-row justify-end">
              <span class="flex flex-col items-center justify-center"
                >Already Signed Up?
              </span>
              <button
                (click)="signupToggle = false; loginToggle = true"
                type="button"
                class="inline-flex justify-center ml-2 pl-3 pr-3 pt-1 pb-1 rounded-lg bg-green-600 text-sm font-semibold text-white shadow-lg hover:bg-green-500"
              >
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
