<footer
  class="bg-[#353839] fixed bottom-0 left-0 w-full flex flex-col items-center justify-center mb-0 shadow-lg"
>
  <div class="flex flex-row items-center justify-between w-[100%] m-2">
    <div class="flex m-2 items-center">
      <img
        class="ml-2 h-8 bg-white rounded-lg border-black"
        src="../../assets/images/logo.png"
        alt=""
      />

      <span class="m-2 text-white font-pacifico">Blabber</span>
    </div>
    <ul class="flex flex-wrap m-2 items-center font-medium">
      <li
        class="list-none text-gray-500 rounded-lg p-1 items-center font-medium hover:scale-125 hover:text-white"
      >
        <a class="nav-link me-4 md:me-6" href="#">About</a>
      </li>
      <li
        class="list-none text-gray-500 rounded-lg p-1 items-center font-medium hover:scale-125 hover:text-white"
      >
        <a class="nav-link me-4 md:me-6" href="#">Privacy Policy</a>
      </li>
      <li
        class="list-none text-gray-500 rounded-lg p-1 items-center font-medium hover:scale-125 hover:text-white"
      >
        <a class="nav-link me-4 md:me-6" href="#">Licensing</a>
      </li>
      <li
        class="list-none text-gray-500 rounded-lg p-1 items-center font-medium hover:scale-125 hover:text-white"
      >
        <a class="nav-link me-4 md:me-6" href="#">Contact</a>
      </li>
    </ul>
  </div>
  <hr class="mt-0 mb-0 w-[95%] border-white" />
  <div class="flex flex-row justify-center items-center m-4">
    <span class="text-sm text-white">© 2024</span>
    <span
      class="ml-2 mr-1 font-pacifico text-gray-500 hover:underline hover:cursor-pointer"
      >Blabber™</span
    >
    <span class="text-sm text-white">. All Rights Reserved.</span>
  </div>
</footer>
