<section
  class="h-49 overflow-y-scroll scrollbar-thin scrollbar-thumb-[#353839]"
>
  <span
    class="flex justify-center font-bold bg-gradient-to-r from-white via-white to-[#353839]"
    >Latest Articles</span
  >

  <div
    *ngFor="let article of articles"
    class="w-[100%] overflow-auto h-42 bg-gradient-to-r from-white via-white to-[#353839]"
  >
    <div class="grid grid-cols-3 gap-1">
      <div class="h-42">
        <img class="h-42" src="{{ article.imageUrl }}" alt="" />
      </div>
      <div class="flex flex-col justify-between">
        <div class="font-bold text-center mt-2">{{ article.title }}</div>
        <div class="text-start ml-1">{{ article.excerpt }}</div>
        <div class="">
          <span
            *ngFor="let tag of article.tags"
            class="inline-block rounded-full m-1 px-3 py-1 text-sm font-semibold bg-[#353839] text-white"
            >#{{ tag }}</span
          >
        </div>
      </div>
      <div class="flex flex-row justify-end p-2 text-white">
        <button class="">Read →</button>
      </div>
    </div>
  </div>
</section>
